body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.recipe-list li {
  font-size: 18px;
  display: inline;
  margin-right: 18pt;
  border: solid 1px red;
  background-color: yellow;
}

ol li {
  font-style: oblique;
}

h1 {
  color: brown;
}

h5 {
  margin-bottom: 0;
}
